* {
    box-sizing: border-box;
  }
  
  h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 80px;
  }
  
  h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 35px;
    border-bottom: 3px solid;
    width: 20%
  }
  
  h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
  }
  
  p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
  }
  
  li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
  }  
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #searchbox {
    margin: 100px;
  }

  #table {
    margin-left: 5%;
    margin-right: 5%;
  }

  table {
    width: 100%;
  }

  td {
    width: 25%;
    padding: 5px;
  }

  th {
    padding-bottom: 20px;
    font-size: larger;
  }

  tbody:nth-child(even) {background-color: #f2f2f2;}

  #query {
    height: 44px;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
  }
  
  button {
    height: 44px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #searchbar {
    text-align: center;
    margin: 4%;
  }
  
  .viz {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // column-gap: 10px;
  }

  .Parallax {
    display: flex;
    justify-content: center;
    &__background,
    &__background-triangles {
      background-repeat: no-repeat;
      position: absolute;
      object-fit: cover;

    }
  
    &__background {
      background-image: url("microsoft_background.jpeg");
      width: 100%;
      height: 110%
    }
  
    // &__background-triangles {
    //   background-image: url("background-triangles.png");
    // }
  
    &__content {
      display: flex;
      flex-direction: column;
      z-index: 1;
      margin-top: 50px;
      &__header {
        margin: 30px;
        width: 80%;
        &__heading {
            width: 50%;
            text-align: left;
        }
      }
      &__topics {
        display: flex;
        row-gap: 70px;
        margin-top: 100px;
        flex-direction: column;
        justify-content: space-around;
        background-color: #edecec;
        width: 100%;
          &__texts {
            margin: 0px 100px;
          }
          &__analysis {
            align-self: center;
          }
      }
    }
  }