* {
    box-sizing: border-box;
  }

  h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 80px;
  }
  
  h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 35px;
    border-bottom: 3px solid;
    width: 20%
  }
  
  h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
  }
  
  p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
  }
  
  li {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    padding: 5px;
  }  
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #searchbox {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    // margin-top: none;
  }

  #table {
    margin-left: 5%;
    margin-right: 5%;
  }

  table {
    width: 100%;
  }

  td {
    width: 25%;
    padding: 5px;
  }

  th {
    padding-bottom: 20px;
    font-size: larger;
  }

  tbody:nth-child(even) {background-color: #f2f2f2;}

  #query {
    height: 44px;
    width: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
  }
  
  button {
    height: 44px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #searchbar {
    text-align: center;
    margin: 4%;
  }
  
  .viz {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // column-gap: 10px;
  }

  .sideNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    right: 2%;
    top: 25%;
    height: 55%;
  }